.app {
  position: absolute;
  width: 100%;
  height: 100%;

  header {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;

    .info {
      height: 2rem;
      cursor: pointer;
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #10b8c1;
    border-width: 0;
    border-style: solid;
    border-color: #f6e49c;

    &.wide {
      border-width: 0 1rem;
    }

    &.narrow {
      border-width: 1rem 0;
    }

    .play-audio {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 16rem;
      height: 16rem;
      opacity: 1;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 1;
    }

    .stage {
      position: relative;
      background-color: #ffffff;
      background-image: url("pomus/bg.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      overflow: hidden;
    }

    .animated-object {
      position: absolute;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
