.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0.5rem 1rem;

  @media screen and (orientation: portrait) and (max-width: 720px) {
    flex-direction: column;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;

    a {
      color: inherit;
      text-decoration: inherit;
    }

    @media screen and (orientation: portrait) and (max-width: 720px),
      screen and (orientation: landscape) and (max-height: 720px) {
      font-size: 1.5rem;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    label {
      margin-top: 0.05rem;
      margin-right: -1rem;
      font-weight: bold;
    }
    svg {
      height: 1.5rem;
      cursor: pointer;
    }

    .volume {
      width: 8rem;
    }
  }
}
